In [1]:
# Sample Question print - sachin t - shirt number is 10
name = "sachin"
t_shirt = 10
# Your Answer

print(name,"t-shirt number is",t_shirt)

sachin t-shirt number is 10

In [12]:
# 1 . Question | print - India is number 1 team and has won 2012 worldcup and it rank 1 and the captain name is kholi
team = "india"
worldcup = 2012
captain = "kholi"
rank = 1
print(team, "is number 1 team and has won", worldcup,"worldcup and it rank", rank, "and the captain name is", captain)


team="india"
worldcub=2012
captain = "kholi"
rank = 1
print(team,"is number 1 team and has won", worldcup ," worldcup and it rank", rank, "and the captain name is", captain)

india is number 1 team and has won 2012 worldcup and it rank 1 and the captain name is kholi
india is number 1 team and has won 2012  worldcup and it rank 1 and the captain name is kholi

In [18]:
# 2 . Question |print the datatype of the x,y,z

x = 56
y = 56.78
z = "python"

# your Answer

print(type(x))
print(type(y))
print(type(z))

print("The type of x is ", type(x))
print("The type of y is ", type(y))
print("The type of Z is ", type(z))

<class 'int'>
<class 'float'>
<class 'str'>
The type of x is  <class 'int'>
The type of y is  <class 'float'>
The type of Z is  <class 'str'>

In [36]:
# 3 . Question | write a program to print 10.0 using typecasting

a = 10

# Your Answer  # converting one data type to another
b=float(a)
print(b)

print("converting inpput to int", int(a))
print("converting inpput to float", float(a))
print("converting inpput to string", str(a))
a=10,"apple",40,50,"red"                    # for list,tuple and set will accept as multiple values{TypeError: 'int' object is not iterable}
b=30,40,20

print("converting inpput to list", list(a))
print("converting inpput to tuple", tuple(a))
print("converting inpput to set", set(a))

a=[("k1",10) ,("k2",20), ("k3",30)]   # the value showuld be key value pair, otherwise it fail as value error.
print("converting inpput to dict", dict(a))

10.0
converting inpput to int 10
converting inpput to float 10.0
converting inpput to string 10
converting inpput to list [10, 'apple', 40, 50, 'red']
converting inpput to tuple (10, 'apple', 40, 50, 'red')
converting inpput to set {40, 10, 'apple', 50, 'red'}
converting inpput to dict {'k1': 10, 'k2': 20, 'k3': 30}

In [37]:
# 4 . Question | write a program to print 12 using typecasting

a = 12.56

# Your Answer
print(type(a))

<class 'float'>

In [45]:
# 5 . write a program print 30 by using typecasting conncept

a = "10"
b = "20"
#c=a+b
#print("sum of a and b is",c, "and type of sum is", type(c))
# Your Answer

d=int(a)+int(b)
print("sum of a and b is",d, "and type of sum is", type(d))

sum of a and b is 1020 and type of sum is <class 'str'>
sum of a and b is 30 and type of sum is <class 'int'>